In [1]:
import geopandas as gpd 
import pandas as pd
import numpy as np
import os
from shapely.geometry import MultiPoint, Point

In [8]:
folder = "/media/riannek/minimax/gleis/gso"
files = [
"5556_km8,5-30,5+5560_km27,2-29,9_Run14.csv",
"5560_km27-33.2+5556_km8.6-33_Run24_ohne_Flughafentunnel.csv",
]



file = files[1]

df = pd.read_csv(os.path.join(folder, file), header=1, sep=";", decimal=",")
df.head()

,#PointNo,Code,East(center)[m],North(center)[m],Elev(lowerRail)[m],Gauge[mm],|Cant|[mm]
0,1,NaN,4.474833e+06,5.332147e+06,526.5661,1435.0,6
1,2,NaN,4.474832e+06,5.332147e+06,526.5629,1435.7,6
2,3,NaN,4.474831e+06,5.332148e+06,526.5598,1436.3,5
3,4,NaN,4.474830e+06,5.332148e+06,526.5571,1437.0,4
4,5,NaN,4.474830e+06,5.332148e+06,526.5540,1436.3,5

In [9]:

df['geometry'] = df.apply(
    lambda row: Point([
        (row['East(center)[m]'], row['North(center)[m]'], row['Elev(lowerRail)[m]']),
    ]),
    axis=1
)
gdf = gpd.GeoDataFrame(df, geometry='geometry', crs="EPSG:5684")

gdf.head()

,#PointNo,Code,East(center)[m],North(center)[m],Elev(lowerRail)[m],Gauge[mm],|Cant|[mm],geometry
0,1,NaN,4.474833e+06,5.332147e+06,526.5661,1435.0,6,POINT Z (4474833.258 5332146.873 526.566)
1,2,NaN,4.474832e+06,5.332147e+06,526.5629,1435.7,6,POINT Z (4474832.319 5332147.218 526.563)
2,3,NaN,4.474831e+06,5.332148e+06,526.5598,1436.3,5,POINT Z (4474831.381 5332147.564 526.56)
3,4,NaN,4.474830e+06,5.332148e+06,526.5571,1437.0,4,POINT Z (4474830.444 5332147.912 526.557)
4,5,NaN,4.474830e+06,5.332148e+06,526.5540,1436.3,5,POINT Z (4474829.506 5332148.26 526.554)

In [10]:
gdf.to_file(os.path.join(folder, "gso.gpkg"), layer=file, driver="GPKG")